//COLOR-BOX
//-----
$firstColorPink: #F28FDB;
$secondColorPink: rgba(208, 89, 180, 0.4);
$transparentPink: rgba(242, 143, 219, 0.4);
//-----
$firstColorYellow:#F8EFAE;
$secondColorYellow: rgba(202, 193, 132, 0.4);
$transparentYellow: rgba(248, 239, 174, 0.4);
//-----
$firstColorGreen: #DFEFE0;
$secondColorGreen: rgba(161, 202, 164, 0.6);
$transparentGreen: rgba(223, 239, 224, 0.4);


//COLOR-FONT
$primaryFont: #FFFFFF;
$secondaryFont: #000000;

//BOX-DIMENSIONS
$boxWidth: 32%;


